* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main-color : #30b7ec;
}
.continer{
    background-color: #f6f6f6;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}
.continer h2 {
    background-color: var(--main-color);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 8px auto;
    border-radius: 4px;
}
@media (max-width:768px){
    .continer {
        width: 300px;
    }
    .continer h2 {
        font-size: 23px;
        padding: 22px 20px;
    }
}
.choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #7777;
}
.choose span {
    font-weight: bold;
    color: var(--main-color);
}
.choose select {
    background-color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    font-weight: bold;
    padding: 5px;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    flex-wrap: wrap;
}
.info p {
    color: #777;
}
.info p span {
    color: #fb8d00;
    font-weight: bold;
}
.info .once {
    color: var(--main-color);
    font-weight: bold;
}
.info .once  span {
    color: #fb8d00;
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 5px;
}
.input input{
    padding: 8px;
    outline: none;
    border: none;
    border: 1px solid var(--main-color);
}
.input input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--main-color);
}
.input button {
    color: #fff;
    background-color: var(--main-color);
    border: navajowhite;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
}
.result {
    opacity: 0;
    background-color: #ec0a0a4d;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: -30px;
    line-height: 2;
    font-weight: bold;
    font-size: 20px;
}
.result p {
    color: #777;
    font-weight: normal;
}
.result p .on {
    font-weight: bold;
}
.restsrt {
    text-align: center;
}
.restsrt .start {
    color: var(--main-color);
    background-color: #f7f7f7;
    border: 1px solid var(--main-color);
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}